{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "json-format"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "settings": {
    "json/sort-package-json": "standard",
    "json/ignore-files": ["**/package-lock.json"],
    "json/json-with-comments-files": ["**/tsconfig.json", ".vscode/**"]
  },
  "rules": {
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "spaced-comment": [
      "error",
      "always",
      {
        "line": {
          "markers": ["/"],
          "exceptions": ["-", "+"]
        },
        "block": {
          "markers": ["!"],
          "exceptions": ["*"],
          "balanced": true
        }
      }
    ],
    "@typescript-eslint/naming-convention": [
      "warn",
      { "selector": "variableLike", "format": ["camelCase", "UPPER_CASE","camelCase","PascalCase"] },
      { "selector": "typeLike", "format": ["PascalCase"] }
    ],
    "curly": 1,
    "no-bitwise": 1,
    "no-console": [1],
    "no-debugger": 1,
    "no-empty": 1,
    "no-eval": 1,
    "prefer-const": 1,
    "radix": 1,
    "@typescript-eslint/no-namespace": "off"
  }
}
